<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel Planner</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>
 <body>
<div id = "app">
  <div class ="headline">
    <h1>Travel Planner</h1>
  </div>
  <form class ="holder trip_input" id="trip_input" action="">
    <label for="destination">Enter your Destination</label>
    <input type="text" id="destination" placeholder="zip code, city, etc" required>
    <label for="date" class="datepicker">Select the date of your trip</label>
    <input type="date" id="startdate" required>
    <button id="generate" type="submit"> Save Trip </button>
  </form>
  <div class="trip_list">
    
  </div>
</div>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
 </script>
</body>
</html>