body{
    background: #d3aeb5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: white;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    color: gray;
    background:#9dc090;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="gray" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}



button{
    width: 350px;
    height: 100px;
    color: white;
    background: #3b4a6b;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 5px 6px #444;
    margin-top: 15px;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
