.tripCard {
    display: flex;
}

.location-image {
    width: 100%;
}

.remove-button {
    width: 200px;
    height: 75px;
    background: none;
    border: 2px solid white;
    box-shadow: none;
}

.expired_trip {
    background-color: gray;
}

.trip-info {
    margin: 20px;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .location-image {
        width: 90vw;
        margin: 20px;
    }
}

@media screen and (min-width: 800px) {
    .tripCard {
        flex-direction: row;
    }

    .location-image {
        width: 40vw;
        margin: 20px;
    }
}